.pro-list-bg{width: 100%;height: 350px;position: relative;background:url(../images/l-img1.jpg) center 0 no-repeat;}
.pro-list-bg .text{position:absolute;background: #eceae9;width: 500px;height: 300px;right: 30px;top: 20px;padding: 40px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.pro-list-bg .text .en,
.pro-list-bg .text .ch{display: block;font-size: 50px;line-height: 1.4em;}
.pro-list-type ul{}
.pro-list-type li{cursor:pointer;float: left;font-size: 22px;line-height: 2em;width: 33.333%;text-align: center;padding: 30px 0;margin: 0;}
.pro-list-type li span{position: relative;}
.pro-list-type li.active span:before{content: '▪';color: #00a0e9;font-size: 30px;line-height: 1em;position: absolute;left: 0;top: 50%;margin:-15px 0 0 -20px;}

.pro-list-type .type-list{display: none;padding: 30px 20px;background: #000;color: #fff;font-size: 18px;line-height: 2em;}
.pro-list-type .type-list .item{position: relative;cursor:pointer;display: inline-block;padding: 0 40px;}
.pro-list-type .type-list .item.active:before{content: '▪';color: #00a0e9;font-size: 30px;line-height: 1em;position: absolute;left: 15px;top: 50%;margin:-17px 0 0 0;}

.pro-list ul{margin: -5px -5px 30px;}
.pro-list li{float: left;width: 50%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 5px;}
.pro-list li a{display: block;width: 100%;overflow: hidden;position: relative;}
.pro-list li a .name{position: absolute;left: 20px;top: 20px;font-size: 18px;color: #fff;}
.pro-list li img{display: block;-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;}
.pro-list li img:hover{-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);}


.detail-content{}
.detail-content .row{margin-bottom: 10px;}
.detail-content [class *='row-text']{padding: 60px 0;}
.detail-content .row-text-2{padding:60px 30px;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
.detail-content .row-img-2{margin: 0 -5px 10px;}
.detail-content .row-img-2 [class*="col"]{padding: 0 5px;}
.detail-content .return{color: #000;width: 160px;height: 60px;text-align: center;line-height: 60px;display: block;margin:100px auto;border-left: 1px solid #000;border-right: 1px solid #000;}

.detail-other h5{margin-bottom: 40px;}
.detail-other ul{margin: -5px -5px 30px;}
.detail-other li{float: left;width: 50%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 5px;}
.detail-other li a{display: block;width: 100%;overflow: hidden;position: relative;}
.detail-other li a .name{position: absolute;left: 20px;top: 20px;font-size: 18px;color: #fff;}
.detail-other li img{display: block;-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;}
.detail-other li img:hover{-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);}

@media screen and (max-width:768px){
	.pro-list-type .type-list .item{padding: 0 30px;}
	.pro-list-bg .text{padding: 20px;right: auto;left: 10px;right: 40px;font-size: 30px;width: auto;height: auto;padding-bottom: 40px;}
	.pro-list-bg .text .en, .pro-list-bg .text .ch{font-size: 30px;}
	.pro-list-type ul{margin: 0;padding: 20px 0;}
	.pro-list-type li{width: 100%;display: block;font-size: 18px;padding: 0;}
	.pro-list-type li.active span:before{margin-top: -16px;}
	.pro-list ul{margin: 0;}
	.pro-list li{width: 100%;padding: 0;margin: 0 0 10px;}
	
	.detail-content{padding: 0 15px;}
	.detail-banner img,
	.detail-content img{height: auto;}
	
	.detail-content .row-img-2{margin: 0 -15px;}
	.detail-content .row-img-1 [class*="col"],
	.detail-content .row-img-2 [class*="col"]{padding: 0;}
	.detail-content .row-img-2 [class*="col"]{margin-bottom: 10px;}
	.detail-content .row-text-img{padding: 0;}
	.detail-content .row-text-img div:last-child{padding: 0;}
	.detail-content .row-text-img div:first-child{padding: 40px 15px;}

	.detail-content .row-text-2{padding: 40px 0;}
	.detail-content .row-text-2 div:first-child{margin-bottom: 40px;}
	.detail-content .row-img-2 [class*="col"]{padding: 0;}
	.detail-content .return{margin: 60px auto;}
	.detail-other h5{padding: 0 15px;}
	.detail-other ul{margin: 0;}
	.detail-other li{width: 100%;padding: 0;margin: 0 0 10px;}

}






